.fav-list-container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fav-list-header {
	display: flex;
	margin-left: 10vw;
	gap: 1vw;
	font-size: 1rem;
	align-items: center;
}

.fav-rectangle {
	border: none;
	background: none;
	height: fit-content;
}

/* Movie */

.fav-movie-card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	margin-top: 1rem;
	width: 100%;
}

.fav-movie-card {
	background: #2c2c2c;
	width: 35dvw;
	height: 28dvw;
	border-radius: 1.5vw;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.fav-movie-card:hover {
	transform: scale(1.05);
}

.fav-movie-remove-btn {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 35dvw;
	height: 20dvw;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.fav-movie-image img {
	width: 35dvw;
	height: 20dvw;
	border-radius: 1.5vw;
}

.fav-movie-image:hover .fav-movie-remove-btn {
	opacity: 1;
}
.fav-movie-info-wrapper {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-between;
}

.fav-rating-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	margin-top: -0.5rem;
}

.fav-title-wrapper {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	font-weight: bold;
}

.fav-title-wrapper p {
	font-size: 1.5rem;
	margin-top: 0.25rem;
}

.fav-watchlist-button img {
	height: 1.66rem;
	cursor: pointer;
}

.fav-favorite-button img {
	margin-bottom: 0.25rem;
	height: 1.4rem;
	cursor: pointer;
}

.no-fav-added {
	margin-top: 4rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}
