.fav-list-container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fav-list-header {
	display: flex;
	margin-left: 10vw;
	gap: 1vw;
	font-size: 1rem;
	align-items: center;
}

.fav-rectangle {
	border: none;
	background: none;
	height: fit-content;
}

/* Movie */

.fav-movie-card-container {
}

.fav-movie-card {
}

.fav-movie-image-wrapper {
}

.fav-movie-image {
}

.fav-movie-img {
}

.fav-movie-info-wrapper {
}

.fav-rating-wrapper {
}

.fav-title-wrapper {
}

.fav-title-images {
}

.fav-watchlist-button {
}
