.logo {
    height: 5rem;
    width: 5rem;
    float: right;
}

.logo-black {
    display: none;
}


@media all and (max-width: 1024px) {

    .logo-yellow {
        display: none;
    }

    .logo-black {
        position: relative;
        display: inline-block;
        margin-top: -0.75rem;
        height: 4.15rem;
        width: 4.15rem;
    }
}

