.watchlist-page {
	margin-top: 6vw;
	margin-bottom: 3vw;
}

.watchlist-container {
	margin: 0 10vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2vw;
}

.watchlist-empty-text {
	margin-top: 1rem;
}

.watchlist-empty {
	grid-column: 1 / -1;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.watchlist-header {
	display: flex;
	margin-left: 10vw;
	gap: 1vw;
	font-size: 1.5vw;
	align-items: center;
}

.watchlist-rectangle {
	border: none;
	background: none;
	height: fit-content;
}

.watchlist-movie-card {
	background: var(--gray);
	width: 100%;
	border-radius: 1.5rem;
	transition: transform 0.3s ease-in-out;
}

.watchlist-movie-card:hover {
	transform: scale(1.01);
}

.watchlist-movie-image img {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.watchlist-movie-image:hover {
	filter: brightness(70%);
}

.watchlist-movie-remove-btn {
	opacity: 0;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease;
}

.watchlist-remove-icon {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	width: 2dvw;
	height: 2dvw;
}

.watchlist-movie-image:hover .watchlist-movie-remove-btn {
	opacity: 1;
}

.watchlist-movie-info-wrapper {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.watchlist-general-rating img {
	margin-right: 0.25rem;
}
.watchlist-rating-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: -0.25rem;
	margin-bottom: 0.15rem;
}

.watchlist-movie-title {
	font-weight: 600;
	font-size: 1.65rem;
	margin-bottom: 0.15rem;
}

.watchlist-icons-wrapper {
	display: flex;
	margin-left: 0.15rem;
	justify-content: flex-start;
}
.watchlist-add-to-favlist-button {
	margin-right: 0.5rem;
}

.watchlist-add-to-favlist-button img {
	height: 1.4rem;
}

.watchlist-info-button img {
	height: 1.4rem;
	margin-top: 0.2rem;
}

.watchlist-add-to-favlist-button:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: drop-shadow(1px 2px 5px rgba(94, 118, 238, 0.7));
}

.watchlist-info-button:hover {
	cursor: pointer;
	transform: scale(1.1);
	filter: drop-shadow(1px 2px 5px rgba(200, 195, 106, 0.7));
}

@media (max-width: 1024px) {
	.watchlist-container {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 5vw;
	}

	.watchlist-header {
		margin-left: 2vw;
		font-size: 0.8rem;
	}

	.watchlist-add-to-watchlist-button img,
	.watchlist-info-button img {
		height: 1.75rem;
	}
	.watchlist-movie-title {
		font-size: 1.25rem;
	}
}

@media only screen and (max-width: 767px) {
	.watchlist-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.watchlist-movie-title {
		font-size: 1.25rem;
	}
	
	.watchlist-add-to-favlist-button img,
	.watchlist-info-button img {
		height: 1.5rem;
	}
}

@media only screen and (max-width: 440px) {
	.watchlist-page {
		margin-top: 12vw;

	}
	.watchlist-movie-title {
		font-size: 1.25rem;
	}
	.watchlist-add-to-watchlist-button img,
	.watchlist-info-button img {
		height: 1.75rem;
	}
}
