@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  padding: 0;
  box-sizing: border-box;
  --main-font: "Montserrat", sans-serif;
  --yellow: #ffe100;
  --black: #000000;
  --white: #ffffff;
  --gray: #282828;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* MQ for 1025px+ */
.app-container {
  display: grid;
  grid-template-columns: 3rem;
  min-height: 100vh;
  font-family: var(--main-font);
}

.main-content {
  grid-column: 2;
}

@media (max-width: 1024px) {
  .app-container {
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    min-height: 100vh;
  }

  .main-content {
    grid-column: 1;
    grid-row: 2;
  }
}
